<%- include("../partials/head1.ejs",{pageTitle: "Carrito de compras"})%>
<link rel="stylesheet" href="/css/newProduct.css">
<%- include("../partials/head2.ejs") %>
<body>
    <header>
        <%- include("../partials/barraNav.ejs") %>
    </header>
    <br>
    <main>
        <form action="/editar/<%= miProducto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <label for="nombre">Nombre del producto</label>
            <input type="text" name="nombre" id="nombre" value="<%= miProducto.nombre %>">
            <br>
            <label for="ingredientes">Ingredientes</label>
            <input type="text" name="ingredientes" id="ingredientes" value="<%= miProducto.ingredientes %>">
            <br>
            <div class="imagen">
            <label for="imagen">Imagen del producto</label>
            <input type="file" name="imagen" id="imagen" value="<%=miProducto.imagen%>">
            </div>
            <br>
            <label for="categoria">Categoria</label>
            <input type="text" name="categoria" id="categoria" value="<%= miProducto.categoria %>">
            <br>
            <label for="precio">Precio</label>
            <input type="text" name="precio" id="precio" value="<%= miProducto.precio %>">
            <br>
            <div class="botones">
                <div class="boton-crear">
            <input type="submit" value="Actualizar">
                </div>
                <div class="boton-crear">
            <a href="/listaProductos"><input type="button" value="Atras" ></a>
                </div>
            </div>
        </form>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>

</html>