<%- include("../partials/head1.ejs",{pageTitle: "Carrito de compras" })%>
    <link rel="stylesheet" href="css/listProducts.css">
    <%- include("../partials/head2.ejs") %>

        <body>
            <header>
                <%- include("../partials/barraNav.ejs") %>
            </header>
            <br>
            <main>
                <div>
                    <div class="new">
                        <a href="/newProduct"><i class="fa-solid fa-circle-plus"></i> Agregar un producto</a>
                    </div>
                </div>
                <% productos.forEach(producto=>{ %>
                    <div class="caja-producto">
                        <div class="imagen"><img src="img/imgProducts/<%= producto.imagen %>" alt="imagen producto">
                        </div>
                        <div class="descripcion">
                            <h2>
                                <%= producto.nombre %>
                            </h2>
                        </div>
                        <div class="botones-admin">
                            <a href="/detail/<%= producto.id %>"><input type="button" value="Ver"></a>
                            <a href="/editar/<%= producto.id %>"><input type="button" value="Editar"></a>
                            <a href="/delete/<%= producto.id %>"><input type="button" value="Eliminar"></a>
                        </div>
                    </div>
                    <% }) %>
            </main>
            <%- include("../partials/footer.ejs") %>
        </body>

        </html>